/*general*/
ul {
	padding: 0;
}

ul li {
	display: inline-block;
}

body {	
	font-family: 'Droid Serif', Georgia, serif;
	color: black;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black;
}

/*header*/
header {
	background-color: #6CF;
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0px;
	padding-top: 5px
}

header * {
	text-align: center;
	margin: 0 auto;
}

header li {
	padding-right: 10px;
}

h1 {
		font-family: 'Open Sans', Arial, sans-serif;
}

.clearfix {
	clear: both;
}

/*footer*/
.logo {
	width: 42px;
	height: 42px;
}

footer {
	height: 40px;
	background-color: #6CF;
	padding: 5px 0;
}

footer * {
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
}

/*body alignment*/
.pull-left {
	float: left;
}

.portfolio {
	margin-top: 80px;
	margin-bottom: 0;
	background-color: black
}

.portfolio li {
	width: 50%;
	height: auto;
	padding: 0;
	color: #6CF;
	font-family: 'Open Sans', Arial, sans-serif;
	text-indent: 10px;
}

.portfolio a:visited {
	color: white;
}

.portfolio a:link {
	color: #6CF;
}

.portfolio p {
	display: inline-block;
	paragraph-indent: 10px;
	overflow: hidden;
}

.portfolio iframe {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 200px;
	margin: none;
}

.portfolio img {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 200px;
	margin: none;
}

/*.portfolio  * // Any immediate children
.portfolio *  // any children, incliding grandchildren
*/

/*index.html*/

/*
 * Header text....
 * Some more comments
 * 
 */
/* ====================================== */
/*          MY HEADER                     */

#self_pic {
	display: inline-block;
	width: 50%;
	vertical-align: bottom;
}

#about {
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	padding: 0 25px;
	vertical-align: bottom;
	margin-bottom: 10px;
}
